<div class="login-layout">
  <%= render "layouts/top_navbar" %>

  <div class="about-box">
    <div class="header-logo">
        <div class="logo text-green mL15" style="padding-top: 5px; font-size: 64px">404</div>
    </div>
    <div class="about_title text-green" style="margin-top: 0px">
      <%=t 'p404_title' %>
    </div>
    <div class="sub_text text-green mT18">
      <%=t 'p404_subbtext' %>
      <p class="text-green text-small mT10 text-small-strong">
        <%=t 'p404_source' %>
      </p>
    </div>
    <div class="mT18 text-center">
      <form>
        <a href="/dashboard">
          <input type="button" class="btn btn-md btn-green" style="width: 25%;" value="<%= I18n.t 'msg_layout.payment_btn_txt' %>">
        </a>
      </form>
    </div>
  </div>
</div>