<div class="login-layout">
  <%= render "layouts/top_bar_not_auth" %>

  <div class="about-box">
    <div class="sub_text text-green mT18 text-left">
      <div class="logo text-green">Company Address</div>
      Juvenescent Technologies Private Limited <br/>516, Mandir Street,<br/>
      Vakaner TA, Bardoli Surat, Gujarat, <br/>India 394620<br/><br/>


      <div class="logo text-green">Contact Number</div>
      +91 9752940001<br/><br/>
      ​
      <div class="logo text-green">Email</div>
      info@studytheater.com<br/><br/>

    </div>
  </div>
</div>