<div class="login-layout">
  <%= render "layouts/top_bar_not_auth" %>

  <div class="about-box">
      <div class="header-logo">
          <%= image_tag("elites_colored.png" ,:class => "") %>
          <div class="logo text-green mL15" style="padding-top: 5px;"><%= I18n.t 'logo-text' %></div>
      </div>
      <div class="about_title text-green">
        <%=t 'about_title' %>
      </div>
      <div class="sub_text text-green mT18">
        <%=t 'about_sub_text' %>
      </div>
      <div class="row mT18">
        <div class="col-lg-3 col-lg-offset-2">
          <form>
            <a href="/signup?role=s">
              <input type="submit" class="btn btn-md btn-green" value="<%=t 'i_m_student' %>">
            </a>
          </form>
          <p class="text-green text-small mT10 text-small-strong">
            <%=t 'sub_h_student' %>
          </p>
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-3">
          <form>
            <a href="/signup?role=t">
              <input type="submit" class="btn btn-md btn-green" value="<%=t 'i_m_teacher' %>">
            </a>
          </form>
          <p class="text-green text-small mT10 text-small-strong">
            <%=t 'sub_h_teacher' %>
          </p>
        </div>
      </div>
  </div>
</div>