<div class="login-layout">

  <%= render "layouts/top_bar_not_auth" %>

  <div class="login-box">
		<div class="logo text-green mB16">
			<%= image_tag("elites_colored.png" ,:class => "login-logo") %><br/><%= I18n.t 'logo-text' %>
		</div>
		<form>
			<div class="form-group">
			  <input type="email" class="form-control custom_input_3" id="user_email" placeholder="email">
			</div>
			<div class="form-group mT16">
			  <input type="password" class="form-control custom_input_3" id="user_password" placeholder="password">
			</div>
		 	<input type="button" class="btn btn-green mT16" value="login" id="btn-login">
		</form>
		<div class="text-right mT4">
			<a href="#" id="forgot_password">Forgot Password?</a>
		</div>

		<div class="new_user text-center">
			<a href="/signup">New User?</a>
      <form action="/signup">
        <input type="submit" class="btn btn-white mT4" value="signup">
      </form>
		</div>
		<div class="text-small mT16">
			By signing up. You agree to Elites <a href="/tnc" style="text-decoration: underline;">Terms and Conditions</a>
		</div>
	</div>

  <div id="id_auth_key" data-auth-key="<%= params[:auth] %>"></div>
	
</div>