<div class="login-layout">
  <%= render "layouts/top_bar_not_auth" %>

  <div class="about-box">
    <div class="header-logo">
        <div class="logo text-green mL15">Privacy Policy</div>
    </div>

    <div class="sub_text text-green mT18">
      <p class="text-green text-small mT10 text-small-strong text-left">
        <br/> <br/>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?<br/> <br/>
        When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.
        When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.
        Email marketing (if applicable): With your or without permission, we may send you emails about our store, new products and other updates.
        <br/> <br/>SECTION 2 - CONSENT <br/> <br/>
        How do you get my consent?
        When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.
        If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
        How do I withdraw my consent?
        If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at info@studytheatres.com
        <br/> <br/>SECTION 3 - DISCLOSURE <br/> <br/>
        We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service or in any of our discussion to do so.
        <br/> <br/> SECTION 4 - PAYMENT <br/> <br/>
        We use Razorpay for processing payments. We/Razorpay do not store your card data on their servers. The data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing payment. Your purchase transaction data is only used as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is not saved.
        Our payment gateway adheres to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.
        PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers.
        For more insight, you may also want to read terms and conditions of razorpay on https://razorpay.com
        <br/> <br/>SECTION 5 - THIRD-PARTY SERVICES <br/> <br/>
        In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.
        However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.
        For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.
        In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
        Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.
        Links
        When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.
        <br/> <br/> SECTION 6 - SECURITY <br/> <br/>
        To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
        <br/> <br/>SECTION 7 - COOKIES <br/> <br/>
        We use cookies to maintain session of your user. It is not used to personally identify you on other websites.
        <br/> <br/>SECTION 8 - AGE OF CONSENT <br/> <br/>
         By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
        <br/> <br/> SECTION 9 - CHANGES TO THIS PRIVACY POLICY <br/> <br/>
        We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.
        If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.
        <br/> <br/> QUESTIONS AND CONTACT INFORMATION <br/> <br/>
        If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at info@studytheatres.com
      </p>
    </div>

    <div class="header-logo">
      <div class="logo text-green mL15" >Pricing & Returns Policy</div>
    </div>
    <div class="sub_text text-green mT18">
      <p class="text-green text-small mT10 text-left">

        <br/>  <br/> Price Range   <br/>  <br/>

        At studytheatres we have customised pricing according to the services rendered by us. The

        details are provided to you beforehand according to the effort, efficiency and the output of the

        service. Typically the range of transactions on our website varies from INR 0 to 1 lac.

        Schedule of payment

        Some of our services can be utilised for fixed durations. In such cases, it is clearly mentioned

        within the description of these services. The period of usage in these cases vary from 5 minutes

        to 1 year. Or more, the time and service may vary from time to time or as selected by the

        customers

        <br/>  <br/>  Price Matching  <br/>  <br/>

        At studytheatres we are committed to offering you the best possible prices. We will be glad to

        meet our competitor&#39;s pricing if you ever find an item that we offer, in the same color and size,

        available from a similar retailer.

        We are unable to match prices from auction and outlet stores or websites, as well as other

        retailers&#39; discount promotions, shipping offers and gift card offers.

        <br/>  <br/>  Sale Adjustment  <br/>  <br/>

        If an item you have purchased is reduced in price within two weeks of your order date, we will

        happily adjust the sale price for you. Please note that we can only make one sale adjustment

        per item and designer goods originally purchased on sale are excluded. But the final discussion

        to do so lies in the hand of the company.

        <br/>  <br/>  Pricing Errors  <br/>  <br/>

        We work hard to ensure the accuracy of pricing. Despite our efforts, pricing errors may still

        occur. If an item&#39;s price is higher than the price displayed, we will cancel your order of that item

        and notify you of the cancellation.in case we missed doing so we suggest you to look for that as

        a customers too.

        <br/>  <br/>  Shopping Cart  <br/>  <br/>

        Items in your Shopping Cart reflect the current price displayed on the item&#39;s product details

        page. Please note: This price may differ from the price displayed when the item was first placed

        in your Shopping Cart.

        Our merchandise/service is offered for sale by study theatres for your personal enjoyment and

        not for resale. Therefore, we reserve the right to refuse to sell to any person whom we believe

        may be purchasing for resale.

        Our Customer Service Specialists are ready to assist you—simply mail us:

        <a href="mailto:info@studytheatres.com">info@studytheatres.com</a> 24 hours a day.

        <br/> <br/>Returns<br/> <br/>
        Our policy lasts 7 days. If 7 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.
        To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging. However as the study theatres often provide service we do not get refund in either of way, since in any unfair means or customer did not receive the service as it opts for the discussion gets into hands of the company and can starts a inquiry for those but the report of this has to be given in 3 days of purchase. Here purchase dates are the dates as selected and the dates from which the service is going to be provided
        Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.
        Additional non-returnable items: Gift cards, Downloadable software productsSome health and personal care items
        To complete your return, we require a receipt or proof of purchase.Please do not send your purchase back to the manufacturer.
        There are certain situations where only partial refunds are granted: (if applicable) Book with obvious signs of use
        CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened. Any item not in its original condition, is damaged or missing parts for reasons not due to our error.
        Any item that is returned more than 30 days after delivery
        Refunds (if applicable)
        Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
        If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
        Late or missing refunds (if applicable)
        If you haven’t received a refund yet, first check your bank account again.
        Then contact your credit card company, it may take some time before your refund is officially posted.
        Next contact your bank. There is often some processing time before a refund is posted.
        If you’ve done all of this and you still have not received your refund yet, please contact us at info@studytheatres.com.
        Sale items (if applicable)
        Only regular priced items may be refunded, unfortunately sale items cannot be refunded.
        Exchanges (if applicable)
        We only replace items if they are defective or damaged.  If you need to exchange it for the same item, send us an email at info@studytheatres.com
        Gifts
        If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.
        If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return. This may, cause extra charge to the gift giver and gift receiver
        Shipping
        To return your product, you should mail your product to: info@studytheatres.com
        You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
        Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
        If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.


      </p>
      <p class="text-green text-small mT10 text-left">

        <br/>  <br/> Price Range   <br/>  <br/>

        At studytheatres we have customised pricing according to the services rendered by us. The

        details are provided to you beforehand according to the effort, efficiency and the output of the

        service. Typically the range of transactions on our website varies from INR 0 to 1 lac.

        Schedule of payment

        Some of our services can be utilised for fixed durations. In such cases, it is clearly mentioned

        within the description of these services. The period of usage in these cases vary from 5 minutes

        to 1 year. Or more, the time and service may vary from time to time or as selected by the

        customers

        <br/>  <br/>  Price Matching  <br/>  <br/>

        At studytheatres we are committed to offering you the best possible prices. We will be glad to

        meet our competitor&#39;s pricing if you ever find an item that we offer, in the same color and size,

        available from a similar retailer.

        We are unable to match prices from auction and outlet stores or websites, as well as other

        retailers&#39; discount promotions, shipping offers and gift card offers.

        <br/>  <br/>  Sale Adjustment  <br/>  <br/>

        If an item you have purchased is reduced in price within two weeks of your order date, we will

        happily adjust the sale price for you. Please note that we can only make one sale adjustment

        per item and designer goods originally purchased on sale are excluded. But the final discussion

        to do so lies in the hand of the company.

        <br/>  <br/>  Pricing Errors  <br/>  <br/>

        We work hard to ensure the accuracy of pricing. Despite our efforts, pricing errors may still

        occur. If an item&#39;s price is higher than the price displayed, we will cancel your order of that item

        and notify you of the cancellation.in case we missed doing so we suggest you to look for that as

        a customers too.

        <br/>  <br/>  Shopping Cart  <br/>  <br/>

        Items in your Shopping Cart reflect the current price displayed on the item&#39;s product details

        page. Please note: This price may differ from the price displayed when the item was first placed

        in your Shopping Cart.

        Our merchandise/service is offered for sale by study theatres for your personal enjoyment and

        not for resale. Therefore, we reserve the right to refuse to sell to any person whom we believe

        may be purchasing for resale.

        Our Customer Service Specialists are ready to assist you—simply mail us:

        <a href="mailto:info@studytheatres.com">info@studytheatres.com</a> 24 hours a day.

        <br/> <br/>Returns<br/> <br/>
        Our policy lasts 7 days. If 7 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.
        To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging. However as the study theatres often provide service we do not get refund in either of way, since in any unfair means or customer did not receive the service as it opts for the discussion gets into hands of the company and can starts a inquiry for those but the report of this has to be given in 3 days of purchase. Here purchase dates are the dates as selected and the dates from which the service is going to be provided
        Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.
        Additional non-returnable items: Gift cards, Downloadable software productsSome health and personal care items
        To complete your return, we require a receipt or proof of purchase.Please do not send your purchase back to the manufacturer.
        There are certain situations where only partial refunds are granted: (if applicable) Book with obvious signs of use
        CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened. Any item not in its original condition, is damaged or missing parts for reasons not due to our error.
        Any item that is returned more than 30 days after delivery
        Refunds (if applicable)
        Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
        If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
        Late or missing refunds (if applicable)
        If you haven’t received a refund yet, first check your bank account again.
        Then contact your credit card company, it may take some time before your refund is officially posted.
        Next contact your bank. There is often some processing time before a refund is posted.
        If you’ve done all of this and you still have not received your refund yet, please contact us at info@studytheatres.com.
        Sale items (if applicable)
        Only regular priced items may be refunded, unfortunately sale items cannot be refunded.
        Exchanges (if applicable)
        We only replace items if they are defective or damaged.  If you need to exchange it for the same item, send us an email at info@studytheatres.com
        Gifts
        If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.
        If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return. This may, cause extra charge to the gift giver and gift receiver
        Shipping
        To return your product, you should mail your product to: info@studytheatres.com
        You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
        Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
        If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.


      </p>
      </p>
    </div>
  </div>
</div>