<%= render "layouts/top_navbar" %>


<div class="dashboard-layout">
  <div class="row">
    <div class="col-lg-3">
      <%= render "layouts/side_navbar" %>
    </div>
    <div class="col-lg-9">
      <div class="text-mid text-uppercase first-sub-heading">
        Plan your schedule
      </div>
      <div class="panel-box mB16">
        <div class="row">
          <div class="col-lg-4">
            <div class="user-bio">
              <div class="course-img"></div>
              <div class="user-info">
                <h4 class="user-name-sm text-capitalize max-lines-2"><%= @schedule_info['data']['c_name'] %></h4>
                <div class="rating_and_review">
                  <div class="rating w50">
                    <i class="fa fa-star-o text-green" aria-hidden="true"></i>
                    <i class="fa fa-star-o text-green" aria-hidden="true"></i>
                    <i class="fa fa-star-o text-green" aria-hidden="true"></i>
                    <i class="fa fa-star-o text-green" aria-hidden="true"></i>
                  </div>
                  <div class="text-uppercase reviews w50"><a href="#" class="not-active">0 Reviews</a></div>
                </div>
              </div>
            </div>
            <div class="text-small max-lines-2 mT16"><%= @schedule_info['data']['c_desc'] %></div>
          </div>

          <div class="col-lg-3">
            <div class="text-small mT4">
              <span class="text-green">Students limit: </span><span class="text-capitalize"><%= @schedule_info['data']['c_stud_limit'] %></span>
            </div>
            <div class="text-small mT4">
              <span class="text-green">Subject: </span><span class="text-capitalize"><%= @schedule_info['data']['c_subject'] %></span>
            </div>
            <div class="text-small mT4">
              <span class="text-green">Location: </span><span class="text-capitalize"><%= @schedule_info['data']['c_location_addr'] %></span>
            </div>
          </div>
          <div class="col-lg-5 border-left" style="display: inline-flex;">
            <div class="w50 text-center">
              <div class="text-small">
                <span class="text-green text-capitalize"><%= I18n.t 'one_time_rate' %></span><br/>
                Rs. <%= @schedule_info['data']['c_rates']['rph'] %>
              </div>
              <div class="text-small mT16">
                <span class="text-green text-capitalize"><%= I18n.t 'monthly_rate' %></span><br/>
                Rs.  <%= @schedule_info['data']['c_rates']['rpm'] %>
              </div>
            </div>
            <div class="w50 text-center">
              <h5 class="text-capitalize max-lines-2">
                <span class="mL4"><i class="fa fa-user text-green" aria-hidden="true"></i> <%= @schedule_info['teacher_info']['static_info']['title'] %></span>
              </h5>
              <div class="text-small"><%= @schedule_info['teacher_info']['static_info']['bio'] %></div>
              <div class="text-small" style="text-decoration: underline"><%= @schedule_info['teacher_info']['static_info']['location'] %></div>
            </div>
          </div>
        </div>
        <div class="horizontal-border"></div>

        <div class="row" id="schedule_box">
          <div class="col-lg-6 col-date-time">
            <div class="schedule_info">
              <div class="text-mid inner-sub-heading">
                Select a starting date
              </div>
              <div id="schedule_date">

              </div>
            </div>
            <div class="payment-info">
              <div class="form-group">
                <div class="text-mid inner-sub-heading mT18">Schedule Summary</div>
                <input type="hidden" value="" id="exist_booking_id">
                <div class="mL20">
                  <table class="table table-hover">
                    <tbody>
                    <tr class="text-small">
                      <td class="align-middle">
                        <i class="fa fa-user text-green" aria-hidden="true"></i>
                      </td>
                      <td class="align-middle"><h5>Booking Id</h5></td>
                      <td class="align-middle">ST-<span id="booking_id"></span></td>
                    </tr>
                    <tr class="text-small">
                      <td class="align-middle">
                        <i class="fa fa-user text-green" aria-hidden="true"></i>
                      </td>
                      <td class="align-middle"><h5>Starts from</h5></td>
                      <td class="align-middle" id="booking_st_date"></td>
                    </tr>
                    <tr class="text-small">
                      <td class="align-middle">
                        <i class="fa fa-user text-green" aria-hidden="true"></i>
                      </td>
                      <td class="align-middle"><h5>Time slot</h5></td>
                      <td class="align-middle" id="booking_time_slot"></td>
                    </tr>
                    <tr class="text-small">
                      <td class="align-middle">
                        <i class="fa fa-user text-green" aria-hidden="true"></i>
                      </td>
                      <td class="align-middle"><h5>Duration</h5></td>
                      <td class="align-middle"><span id="booking_duration"></span> days</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <input type="button" class="btn btn-white" value="<%= I18n.t 'buttons.btn_go_back_schedule' %>" id="btn-go-back-schedule">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="schedule_info">
              <input type="hidden" id="schedule_cid" value="<%= @schedule_info['data']['id'] %>">
              <div class="text-mid inner-sub-heading">
                Select duration
              </div>
              <div class="radio-group">
                <% APP_CONFIG['course_plan'].each do |plan, days| %>
                    <div class="radio text-capitalize">
                      <label><input type="radio" name="opt_plan" value="<%= days %>"><%= plan.gsub("_", " ") %></label>
                    </div>
                <% end %>
              </div>
              <div class="text-mid inner-sub-heading">
                Pick up a time slot
              </div>
              <div class="radio-group">
                <% @schedule_info['data']['c_slots'].each do |slots| %>
                    <div class="radio">
                      <label><input type="radio" name="opt_slots" value="<%= slots %>"><%= slots %></label>
                    </div>
                <% end %>
              </div>
              <input type="button" class="btn btn-green mT16" value="<%= I18n.t 'buttons.btn_checkout' %>" id="btn-schedule">
            </div>
            <div class="payment-info">
              <div class="text-mid inner-sub-heading mT18">Payment Summary</div>
              <table class="table table-hover">
                <thead>
                <tr class="text-green text-small">
                  <th><%= I18n.t 'desc' %></th>
                  <th><%= I18n.t 'rate' %></th>
                  <th><%= I18n.t 'total' %></th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-small">
                  <td>
                    <h5><%= I18n.t 'placeholder.plc_course' %></h5>
                    <span><%= @schedule_info['data']['c_name'] %></span>
                  </td>
                  <td class="align-middle" id="course_rate">0</td>
                  <td class="align-middle" id="course_total">0</td>
                </tr>
                <tr class="text-small">
                  <td class="text-uppercase">
                    <span><%= I18n.t 'sub_total' %></span><br/>
                    <span><%= I18n.t 'taxes' %> (<span id="course_tax_per">0</span>%)</span>
                  </td>
                  <td></td>
                  <td>
                    <span id="course_subtotal">0</span><br/>
                    <span id="course_tax_val">0</span>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th class="text-small text-uppercase"><%= I18n.t 'grand_total' %></th>
                  <th></th>
                  <th class="text-green" id="course_amount">0</th>
                </tr>
                </tfoot>
              </table>
              <button id="rzp-pay-button" class="mT18"><%= I18n.t 'buttons.btn_payment' %></button>
            </div>
          </div>

        </div>
        <%= render partial: "layouts/message_layout",  locals: {
            'msg_img': 'fa-check-circle',
            'msg_text': t('msg_layout.payment_success'),
            'msg_sub_txt_1':  t('msg_layout.payment_success_txt_1'),
            'msg_sub_txt_2':  t('msg_layout.payment_success_txt_2'),
            'msg_btn_txt': t('msg_layout.payment_btn_txt'),
            'msg_btn_link': '/dashboard',
            'custom_class': 'div-hide'
        } %>
      </div>
    </div>

  </div>
</div>
</div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script type="text/javascript">
  var payment_hash = {
    "key": "<%= SECRETS_CONFIG['razor_pay_key']%>",
    "desc": "Payment against <%= @schedule_info['data']['c_name'] %> by <%= @current_user['name'] %>",
    "name": "<%= @current_user['name'] %>",
    "email": "<%= @current_user['email'] %>",
    "contact": "<%= @current_user_info["mobile_number"] %>"
  };
  $('#schedule_date').datepicker({dateFormat: 'yy-mm-dd'});
  window.elite_js = new EliteJS.mother_js();
  window.elite_js.payments(payment_hash);
</script>
