<div class="login-layout">

  <div class="top_bar_middle">
    <%= render "layouts/top_navbar" %>
  </div>

  <% if(@current_user['permission'] == APP_CONFIG['user_type']['teacher']) %>
    <div class="secondary-info-box">
		<form>
      <div class="row">
        <div class="col-lg-5">
            <h4 class="user-name-sm text-green"><%= I18n.t 'welcome' %></h4>
            <h4><%= @current_user['name'] %></h4>
        </div>
        <div class="col-lg-7">
          <div class="text-small mT30 text-right">
            <%= I18n.t 'msg_profile_setup' %>
          </div>
        </div>
      </div>
      <div class="row mT16">
        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" class="form-control custom_input_3" id="usi_title" placeholder="Add a title">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" class="form-control custom_input_3" id="usi_qualif" placeholder="Qualifications">
          </div>
        </div>
      </div>
      <div class="row mT16">
        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" class="form-control custom_input_3" id="usi_mobile" placeholder="Mobile Number">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <input type="number" class="form-control custom_input_3" id="usi_exp" placeholder="Teaching Experience">
          </div>
        </div>
      </div>

      <div class="row mT16">
        <div class="col-lg-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            <input type="text" class="form-control custom_input_2 location-input" id="usi_location" placeholder="<%= I18n.t 'placeholder.plc_city'%>">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" class="form-control custom_input_3" id="usi_bio" placeholder="Short Bio">
          </div>
        </div>
      </div>

      <div class="row mT30">
        <div class="col-lg-5 col-lg-offset-1 mT4">
          <div class="text_small_bold mB4">
            <i class="fa fa-venus-mars" aria-hidden="true" style="margin-right: 5px;"></i>
            <%=t 'gender' %>
          </div>
          <label class="radio-inline">
            <input type="radio" name="usi_gender" value="M" checked><%=t 'male' %>
          </label>
          <label class="radio-inline">
            <input type="radio" name="usi_gender" value="F"><%=t 'female' %>
          </label>
        </div>
        <div class="col-lg-6">
          <input type="button" class="btn btn-green mT4" value="Continue" id="btn_sec_continue">
        </div>
      </div>
		</form>


	</div>
  <% elsif(@current_user['permission'] == APP_CONFIG['user_type']['student']) %>
      <div class="login-box">
        <form>
          <div class="mB16 text-center">
              <h4 class="user-name-sm text-green"><%= I18n.t 'welcome' %></h4>
              <h4><%= @current_user['name'] %></h4>
              <div class="text-small">
                <%= I18n.t 'msg_profile_setup' %>
              </div>
          </div>
          <div class="row mT16">
            <div class="col-lg-12">
              <div class="form-group">
                <input type="text" class="form-control custom_input_3" id="usi_mobile" placeholder="Mobile Number">
              </div>
            </div>
          </div>
          <div class="row mT16">
            <div class="col-lg-12">
              <div class="form-group">
                <select type="text" class="js-example-basic-single js-states form-control" id="usi_standard">
                  <option value=""></option>
                  <% @standard.each do |std| %>
                      <option value="<%= std %>"><%= std %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group mT18">
                <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <input type="text" class="form-control custom_input_2 location-input" id="usi_location" placeholder="<%= I18n.t 'placeholder.plc_city'%>">
              </div>
            </div>
          </div>
          <div class="row mT30">
            <div class="col-lg-12">
              <input type="button" class="btn btn-green mT4" id="btn_sec_continue" value="Continue">
            </div>
          </div>
        </form>
      </div>
  <%end %>

  <div id="id_role" data-role="<%= @current_user['permission'] %>"></div>
  <%= render "layouts/location_modal" %>

</div>