<div class="login-layout">

  <%= render "layouts/top_bar_not_auth" %>

  <div class="login-box">
    <form id="signup_form">
      <div class="mB16">
        <label class="radio-inline">
            <input type="radio" name="p_role" value="student" checked><%=t 'i_m_student' %>
        </label>
        <label class="radio-inline">
          <% if params[:role] == 't' %>
            <input type="radio" name="p_role" value="teacher" checked><%=t 'i_m_teacher' %>
          <%else %>
            <input type="radio" name="p_role" value="teacher"><%=t 'i_m_teacher' %>
          <%end %>
        </label>
      </div>
      <div class="form-group mT16">
        <input type="text" class="form-control custom_input_3" id="user_name" placeholder="Name">
      </div>
      <div class="form-group mT16">
        <input type="email" class="form-control custom_input_3" id="user_email" placeholder="email">
      </div>
      <div class="input-group mT16">
        <input type="password" class="form-control custom_input_3" id="user_password" placeholder="password">
        <span class="input-group-btn">
          <button class="btn btn-green" type="button" id="show_passw">
              <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </span>
      </div>
      <input type="button" class="btn btn-green mT16" value="signup" id="btn-signup">
    </form>
    <div class="text-small mT4">
      By signing up. You agree to Elites <a href="#" style="text-decoration: underline;">Terms and Conditions</a>
    </div>
    <div class="new_user text-center mT16">
      <a href="/login">Already have an account?</a>
      <form action="/login">
        <input type="submit" class="btn btn-white mT4" value="login">
      </form>
    </div>
  </div>

</div>