<%= render "layouts/top_navbar" %>

<div class="dashboard-layout">
  <div class="row">
    <div class="col-lg-3">
      <%= render "layouts/side_navbar" %>
    </div>
    <div class="col-lg-9">
      <div class="text-mid text-uppercase first-sub-heading">
        Discover
      </div>
      <div class="panel-box">
        <form>
          <div class="row">
            <div class="col-lg-12">
              <input type="text" class="form-control custom_input_3"  id="search_c_name" placeholder="<%= I18n.t 'placeholder.plc_course' %>">
            </div>
          </div>
          <div class="row mT18">
            <div class="col-lg-3">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <input type="text" class="form-control custom_input_2 location-input" id="search_location" placeholder="<%= I18n.t 'placeholder.plc_loc' %>">
              </div>
            </div>
            <div class="col-lg-3">
              <select type="text" class="js-example-basic-single js-states form-control" id="search_subject">
                <option value=""></option>
                <option value=" ">All</option>
                <% @subject_list.each do |subject| %>
                    <option value="<%= subject %>"><%= subject %></option>
                <% end %>
              </select>
            </div>
            <div class="col-lg-3">
              <select id="sort_by" class="js-example-basic-single js-states form-control">
                <option value=""></option>
                <option value="<%= I18n.t 'distance' %>"><%= I18n.t 'distance' %></option>
                <option value="<%= I18n.t 'price' %>"><%= I18n.t 'price' %></option>
                <option value="<%= I18n.t 'rating' %>"><%= I18n.t 'rating' %></option>
              </select>
            </div>
            <div class="col-lg-3">
              <input type="button" class="btn btn-green" value="Search" id="btn-search">
            </div>
          </div>
        </form>
      </div>
      <div class="text-mid text-uppercase sub-heading" >
        Showing Results (<span id="search-count">0</span>)
      </div>
      <div class="div-results">


      </div>
      <%= render partial: "layouts/message_layout",  locals: {
          'msg_img': 'fa-search',
          'msg_text': t('msg_layout.search_course'),
          'msg_sub_txt_1':  t('msg_layout.search_course_txt_1'),
          'msg_sub_txt_2':  t('msg_layout.search_course_txt_2'),
          'msg_btn_txt': '',
          'msg_btn_link': '',
          'custom_class': ''
      } %>
    </div>
  </div>
</div>
</div>
<%= render "layouts/location_modal" %>

<script id="searchCoursesTemplate" type="text/x-jquery-tmpl">
         <div class="panel-box mB16 search_courses" data-id="${id}">
          <div class="row">
            <div class="col-lg-4">
              <div class="user-bio">
                <div class="course-img"></div>
                <div class="user-info">
                  <h4 class="user-name-sm text-capitalize max-lines-2">${c_name}</h4>
                  <h5 class="text-capitalize max-lines-2"><i class="fa fa-user text-green" aria-hidden="true"></i><span class="mL4">${c_teacher}</span></h5>
                  <div class="rating_and_review">
                    <div class="rating w50">
                      <i class="fa fa-star-o text-green" aria-hidden="true"></i>
                      <i class="fa fa-star-o text-green" aria-hidden="true"></i>
                      <i class="fa fa-star-o text-green" aria-hidden="true"></i>
                      <i class="fa fa-star-o text-green" aria-hidden="true"></i>
                    </div>
                    <div class="text-uppercase reviews w50"><a href="">0 Reviews</a></div>
                  </div>
                </div>
              </div>
              <div class="text-small max-lines-2 mT16">${c_desc}</div>
            </div>

            <div class="col-lg-4 border-right">
              <div class="text-small mT4">
                <span class="text-green">Students limit: </span><span class="text-capitalize" >${c_stud_limit}</span>
              </div>
              <div class="text-small mT4">
                <span class="text-green">Subject: </span><span class="text-capitalize" >${c_subject}</span>
              </div>
              <div class="text-small mT4">
                <span class="text-green">Location: </span><span class="text-capitalize" >${c_location_addr}</span>
              </div>
              <div class="text-small mT4">
                <span class="text-green">Slots: </span><span class="text-capitalize">
                  {{each c_slots}}
                     ${$value},
                  {{/each}}
                </span>
              </div>
            </div>
            <div class="col-lg-4" style="display: inline-flex;">
              <div class="w50 text-center">
                <div class="text-small mT16">
                  <span class="text-green text-capitalize"><%= I18n.t 'one_time_rate'%></span><br/>
                  Rs. ${c_rates['rph']}
                </div>
                <div class="text-small mT16">
                  <span class="text-green text-capitalize"><%= I18n.t 'monthly_rate'%></span><br/>
                  Rs. ${c_rates['rpm']}
                </div>
              </div>
              <div class="w50 text-center">
                <p class="text-green user-name-sm" id="course_location_${id}" >-</p>
                <input type="button" class="btn btn-sm btn-green btn-schedule" data-cid="${id}" value="Schedule">
                <input type="button" class="btn btn-sm btn-white mT10" value="View Profile">
              </div>
            </div>
          </div>
        </div>


</script>