<%= render "layouts/top_navbar" %>

<div class="dashboard-layout">
  <div class="row">
    <div class="col-lg-3">
      <%= render "layouts/side_navbar" %>
    </div>
    <div class="col-lg-9">
      <div class="text-mid text-uppercase first-sub-heading">
        <%= I18n.t 'manage_students' %>
      </div>
      <div class="panel-box">
        <% if @students.present? and @students['data'].present?%>
          <table class="table table-hover">
            <thead>
              <tr class="text-green text-small">
                <th>Name</th>
                <th>Start Date</th>
                <th>Time Slot</th>
                <th>Plan</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            <% @students['data'].each do |student| %>
                <tr class="text-small">
                  <td><%= @students['students'][student["elt_users_id"].to_s] %></td>
                  <td><%= student["sb_start_date"] %></td>
                  <td><%= student["sb_slot"] %></td>
                  <td><%= student["sb_plan"] %></td>
                  <td><%= student["sb_payment_status"] %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
            <%= render partial: "layouts/message_layout",  locals: {
                'msg_img': 'fa-meh-o',
                'msg_text': t('msg_layout.no_students'),
                'msg_sub_txt_1':  t('msg_layout.no_students_txt_1'),
                'msg_sub_txt_2':  t('msg_layout.no_students_txt_2'),
                'msg_btn_txt': '',
                'msg_btn_link': '',
                'custom_class': ''
            } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

