<%= render "layouts/top_navbar" %>

<div class="dashboard-layout">
	<div class="row">
		<div class="col-lg-3">
      <%= render "layouts/side_navbar" %>
    </div>
		<div class="col-lg-9">
      <div class="text-mid text-uppercase first-sub-heading">
        <%= I18n.t 'add_course'  %>
      </div>
			<div class="panel-box">
        <form id="form_add_course">
        <div class="row row-eq-ht">
          <div class="col-lg-2">
            <div class="image_holder img_mock_holder" id="course_thumb"></div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <input type="text" class="form-control custom_input_3"  id="course_name" placeholder="<%= I18n.t 'placeholder.plc_course' %>">
            </div>
            <div class="form-group mT18 h100">
              <textarea type="text" class="form-control custom_input_3" id="course_desc" placeholder="<%= I18n.t 'placeholder.plc_course_desc' %>"></textarea>
            </div>
          </div>
          <div class="col-lg-3 ">
            <div class="form-group">
              <select type="text" class="js-example-basic-single js-states form-control"  id="course_subject">
                <option value=""></option>
                <% @subject_list.each do |subject| %>
                  <option value="<%= subject %>"><%= subject %></option>
                <% end %>
              </select>
            </div>

            <div class="input-group mT18">
              <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <input type="text" class="form-control custom_input_2 location-input"  id="course_location" placeholder="<%= I18n.t 'placeholder.plc_loc' %>">
            </div>

            <div class="form-group mT18">
              <input type="number" class="form-control custom_input_3" id="course_limit" placeholder="<%= I18n.t 'placeholder.plc_stud_limit' %>">
            </div>

          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-inr" aria-hidden="true"></i></span>
                  <input type="text" class="form-control custom_input_4" id="course_rph" placeholder="Hour">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-inr" aria-hidden="true"></i></span>
                  <input type="text" class="form-control custom_input_4" id="course_rpm" placeholder="Month">
                </div>
              </div>
            </div>
            <div class="form-group mT18">
              <select id="course_slots" class="js-example-basic-multiple js-states form-control" multiple="multiple">
                <% @slot_list.each do |slot| %>
                    <option value="<%= slot %>"><%= slot %></option>
                <% end %>
              </select>
            </div>
            <div class="form-group mT18">
              <input type="button" class="btn btn-green" value="<%= I18n.t 'buttons.btn_add_course'%>" id="btn-add-course">
            </div>
          </div>
        </div>
        </form>
			</div>
      <div class="text-mid text-uppercase sub-heading">
        <%= I18n.t 'your_courses'  %> (<span id="user_c_count"></span>)
      </div>
      <div class="div-results">

      </div>
		</div>
	</div>
  </div>
</div>

<%= render "layouts/location_modal" %>

<script id="myCoursesTemplate" type="text/x-jquery-tmpl">
         <div class="panel-box mB16 courses" data-id="${id}">
          <div class="row">
            <div class="col-lg-4">
              <div class="user-bio">
                <div class="course-img" style="background-image:url(${c_course_img})"></div>
                <div class="user-info">
                  <h4 class="user-name-sm text-capitalize max-lines-2">${c_name}</h4>
                  <div class="rating_and_review">
                    <div class="rating w50">
                      <i class="fa fa-star-o text-green" aria-hidden="true"></i>
                      <i class="fa fa-star-o text-green" aria-hidden="true"></i>
                      <i class="fa fa-star-o text-green" aria-hidden="true"></i>
                      <i class="fa fa-star-o text-green" aria-hidden="true"></i>
                    </div>
                    <div class="text-uppercase w50 reviews mL15"><a href="#">0 Reviews</a></div>
                  </div>
                </div>
              </div>
              <div class="text-small max-lines-2 mT16">${c_desc}</div>
            </div>

            <div class="col-lg-4" style="display:inline-flex">
            <div class="w50">
              <div class="text-small"  style="margin-top: 10px;">
                  <span class="text-green">Subject: </span><span class="text-capitalize">${c_subject}</span>
                </div>
                <div class="text-small mT4">
                  <span class="text-green">Student limit: </span><span class="text-capitalize">${c_stud_limit}</span>
                </div>
                <div class="text-small mT4">
                  <span class="text-green">Location: </span><span class="text-capitalize">${c_location_addr}</span>
                </div>
            </div>

            <div class="text-small mT4 w50">
                <div id="user_subj">
                      {{each c_slots}}
                        <div class="label label-default label-custom mL4"> ${$value} </div>
                      {{/each}}
                </div>
            </div>
            </div>
            <div class="col-lg-4" style="display: inline-flex;">
              <div class="w50 text-center">
                <div class="text-small mT16">
                  <span class="text-green text-capitalize">hourly rate </span><br/>
                  <i class="fa fa-inr" aria-hidden="true"></i> ${c_rates['rph']}
                </div>
                <div class="text-small mT16">
                  <span class="text-green text-capitalize">monthly rate </span><br/>
                  <i class="fa fa-inr" aria-hidden="true"></i> ${c_rates['rpm']}
                </div>
              </div>
              <div class="w50 mT18">
                <a href="/students?c_id=${id}" target="_blank">
                  <input type="button" class="btn btn-sm btn-white mT10" data-id="${id}" value="<%= I18n.t 'manage_students'%>">
                </a>
              </div>
            </div>
          </div>
        </div>
</script>