$light-green:  #2DC8A4;
$dark-green: #25A386;
$bg-grey: #f4f9fc;
$nav-grev:  #fbfbfb;
$color-black: #000000;
$color-semi-black: #4a4a4a;
$color-dark-grey: #a3a8af;
$color-light-grey: #bcc1c7;
$color-very-light-grey:#eee;
$line-seperator: #f0f2f6;
$color-white: #FFFFFF;
$color-red: #f44336;
$color-light-red: #FFEBEE;
$screen-height: 768px;

@font-face {
  font-family: 'Raleway';
  src: asset-url('Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Medium';
  src: asset-url('Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: asset-url('Raleway-Bold.ttf') format('truetype');
  font-weight: 600;
}

$text-regular: Raleway;
$text-medium: Raleway-Medium;
$text-bold: Raleway-Bold;

html, body {
  height: 100%;
  font-family: $text-regular;
  overflow-y: scroll;
}
.form-control:focus{
  border: 1px solid $dark-green;
}
h4{
	font-size: 1.5em;
	font-family: $text-medium;
}
h5{
	font-size: 1.2rem;
	font-family: $text-medium;
	color: $color-dark-grey;
}
.btn:focus{
	box-shadow: none;
    outline: 0;
    color: $dark-green;
}
.btn-green:focus{
  color: $color-white;
}
.mL15{
	margin-left: 15px;
}
.mL4{
  margin-left: 4px;
}
.mR15{
	margin-right: 15px;
}
a, a:hover, a:active{
    cursor: pointer;
	color: $color-dark-grey;
	text-decoration: none;
	font-size: 11px;
}
.login-logo{
	width: 75px;
}
.logo{
	font-family: $text-bold;
	font-size: 32px;
}
.mT16{
	margin-top: 16px;
}
.mT4{
	margin-top: 4px;
}
.mT10{
  margin-top: 10px;
}
.mB16{
	margin-bottom: 16px;
}
.mB4{
  margin-bottom: 4px;
}
.text-small{
	font-size: 11px;
	color: $color-dark-grey;
    line-height: 1.6em;
    letter-spacing: 0.05em;
}
.text-mid{
  font-size: 12px;
  color: $color-light-grey;
  font-family:$text-regular;
  letter-spacing: 0.05em;
}
.text-1{
  color: $color-dark-grey;
  font-family: $text-regular;
}
.text-green{
	color: $dark-green;
}
.text-white{
  color: $color-white;
}
.text-semi-black{
  color: $color-semi-black;
}
.form-control{
	border-radius:0;
	font-size: 12px;
    padding: 12px;
	font-family: $text-medium;
}
.form-group{
    text-align: left;
	margin-bottom: 0px;
}
.login-layout{
	background-color: $bg-grey;
	background-image: asset-url('bg_login_pattern.png'); 
	height: 100%;
	overflow: scroll;
    padding-bottom: 20px;
}
.dashboard-layout{
	height: 100%;
	overflow: scroll;
	background: $bg-grey;
	padding: 48px;
}

.rounded-box{
	border-radius: 8px;
    background: $bg-grey;
    box-shadow: 1px 1px 5px $color-very-light-grey;
}
.panel-box{
    background: $color-white;
    box-shadow: 1px 1px 5px $color-very-light-grey;
    padding: 24px;
}
.nav-panel-box{
  padding-left: 0px;
  padding-right: 0px;
}
.login-box{
	width: 380px;
    padding: 32px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.secondary-info-box{
  width: 620px;
  padding: 32px;
  margin: auto;
  margin-top: 50px;
}

.about-box{
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
.top-bar{
    padding: 18px;
    background: $dark-green;
}
.top-bar > img{
	width: 18px;
}

.top-inside-bar{
	background: $dark-green;
}
.logo-text{
	color: $color-white;
	font-size: 14px;
	font-family: $text-medium;
	letter-spacing: 0.1em;
	margin-left: 12px;
}

.btn, #rzp-pay-button{
	cursor: pointer;
	border-radius: 0;
	width: 100%;
	font-family: $text-medium;
	padding: 12px;
	font-size: 12px;
	letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid transparent;
}
.btn-green,  #rzp-pay-button{
	color: $color-white;
    background-color: $dark-green;
    border-color: $dark-green;
}
.btn-green:hover, .btn-green:active,  #rzp-pay-button:hover,  #rzp-pay-button:active{
	color: $color-white;
    background-color: $light-green;
    border-color: $light-green;
}
.btn-white{
	color: $dark-green;
    background-color: $color-white;
    border-color: $dark-green;
}
.btn-white:hover, .btn-white:active{
	color: $light-green;
    background-color: $line-seperator;
    border-color: $light-green;
}
.new_user{
	margin-top: 32px;
}
.static-nav{
	float: right;
	display: inline-flex;
	font-family: $text-medium;
}
.static-nav > div > a {
	font-size: 14px;
	color: $color-white;
	padding: 20px;
	letter-spacing: 0.05em;
    font-family: $text-regular;
}
.user-profile{
	padding: 24px;
	text-align: center;
    border-bottom: 3px solid $light-green;
}
.user-profile-img{
	 width: 80px;
	 height: 80px;
	 background-image: url('https://a3-images.myspacecdn.com/images03/30/a873069c91bd4423baff201e7d0bdafb/300x300.jpg');
	 background-size: cover;
	 display: block;
	 border-radius: 40px;
	 margin: auto;
	 
}
.course-img{
  width: 64px;
  height: 64px;
  background-image: url('https://a3-images.myspacecdn.com/images03/30/a873069c91bd4423baff201e7d0bdafb/300x300.jpg');
  background-size: cover;
  display: block;
  border-radius: 40px;
  margin: auto;
}

.image_holder{
  width: 80px;
  height: 80px;
  background-size: cover;
  display: block;
  border-radius: 40px;
  margin: auto;
}
.img_mock_holder{
  margin-top: 20%;
  background-image: asset_url('thumbnail_plc');
  cursor: pointer;
}
.user-name{
	margin-top: 10px;
}
.user-name-sm{
  font-size: 1.2em;
}
.grey-head{
  font-size: 1.2em;
  color: $color-light-grey;
}
.nav-vertical{
	padding-left: 0px;
}
.nav-vertical > li{
	list-style: none;
	padding-left: 40px;
    border-bottom: 0.5px solid #f5f5f5;
}
.nav-vertical > li:last-child{
  border-bottom: none;
}

.nav-vertical > li >a{
	display: block;
	color: $color-light-grey;
	font-family: $text-bold;
    padding: 18px;
    font-size: 12px;
	letter-spacing: 0.05em;
}
.nav-vertical > li > a:hover, .nav-vertical > li > a:focus {
    color: $color-black;
    cursor: pointer;
}
.text_small_bold{
  text-transform: uppercase;
  font-family: $text-bold;
}
.small_icon{
  margin-right: 5px;
  width: 20px;
}
#user_city{
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border: 1px solid $light-green;
  border-right: 0;
  width: 100%;
}
.custom_field{
  display: flex;
}
.custom_input_1{
  border: 1px solid $light-green;
  border-left: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  letter-spacing: 0.05em;
  padding: 20.5px;
  background: asset-url("icon-select.png") no-repeat right;
  font-family: $text-regular;
  text-transform: capitalize;
}
.custom_input_2{
  border: 1px solid $light-green;
  box-shadow: none;
  -webkit-box-shadow: none;
  letter-spacing: 0.05em;
  padding: 20.5px;
  background: asset-url("icon-select.png") no-repeat right;
  font-family: $text-regular;
  background-color: #ffffff;
}

.custom_input_3{
  border: 1px solid $light-green;
  box-shadow: none;
  -webkit-box-shadow: none;
  letter-spacing: 0.05em;
  padding: 20.5px;
  font-family: $text-regular;
  background-color: #ffffff;
}

.custom_input_4{
  border: 1px solid $light-green;
  box-shadow: none;
  -webkit-box-shadow: none;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  padding: 20.5px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: $text-regular;
  background-color: #ffffff;
}


.w60{
  width: 60%;
}
.w50{
  width: 50%;
}
.field_seperator{
  border: 1px solid $light-green;
  border-left: 0;
  border-right: 0;
  padding-top:10px;
}
.mT18{
  margin-top: 18px;
}
.mT30{
  margin-top: 30px;
}
input[type="checkbox"]:checked{
  background: $light-green;
}
.sub-heading{
  margin-top: 20px;
  margin-bottom: 20px;
}
.inner-sub-heading{
  margin: 20px;
  font-size: 14px;
  font-family: $text-regular;
  letter-spacing: 0.05em;
}

.first-sub-heading{
  margin-left: 4px;
  margin-top: -30px;
  margin-bottom: 15px;
}
.border-left{
  border-left: 0.5px solid #f5f5f5;
}
.border-right{
  border-right: 0.5px solid #f5f5f5;
}
.user-bio{
  display: inline-flex;
}
.user-info{
  width: 200px;
  margin-left: 16px;
  margin-right: 16px;
}
.rating_and_review{
  display: inline-flex;
  width:100%;
}
.rating{
  display: inline-flex;
}
.max-lines-2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.btn-sm{
  line-height: 6px;
  font-size: 10px;
}
.horizontal-border{
  border-bottom: 0.5px solid #f5f5f5;
  height: 40px;
}
.col-date-time{
  border-right: 0.5px solid #f5f5f5;
}
#schedule_date{
  margin: auto;
  font-family: $text-regular;
}

.ui-datepicker-calendar > thead > tr > th > span{
  color: $dark-green;
  font-size: 14px;
  font-family: $text-regular;
}

.ui-datepicker{
  font-family: $text-regular;
  font-size: 12px;
  padding: 10px;
  border: 0;
}

.ui-datepicker{
  font-size: 23px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  font-size: 12px;
  color: $color-dark-grey;
  text-align: center;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  border:none;
  margin: 8px;
}
.ui-state-hover{
  background: #ffffff;
  font-weight: normal;
  color: $color-black;
  text-align: center;
}
.ui-widget-content .ui-state-active{
  background: $dark-green;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.ui-widget.ui-widget-content {
  border: none;
}
.ui-datepicker .ui-datepicker-header {
  font-family: $text-regular;
  background: $color-white;
  border: 0px;
  color: $color-very-light-grey;
}

.ui-widget-header .ui-icon{
  border:none;
  background: none;

}
.radio-group{
  padding-left: 20px;
  font-size: 12px;
  color: $color-dark-grey;
}
.radio input[type="radio"]{
  margin-top: 2px;
}
.radio{
  margin-top: 14px;
}
.ui-datepicker .ui-datepicker-next {
  background: $color-white;
  margin-top: 16px;
  background-image: asset-url("right-arrow.png");
  background-repeat: no-repeat;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover{
  border: none;
}
.ui-datepicker .ui-datepicker-prev {
  background: $color-white;
  background-image: asset-url("left_arrow.png");
  margin-top: 16px;
  background-repeat: no-repeat;

}
.checkbox-label{
  margin-right: 10px;
  font-weight: normal;
  cursor: pointer;
}
.about-box{
  margin-top: 80px;
  width:60%;
}
.about_title{
  margin-top:40px;
  font-family: $text-regular;
  font-size: 32px;
  letter-spacing: 0.05em;
}
.text-small-strong{
  font-family: $text-medium;
  line-height: 1.5em;

}
.sub_text{
  margin-bottom: 42px;
  font-family: $text-medium;
  font-size: 16px;
  letter-spacing: 0.06em;
}
.header-logo{
  display: inline-flex;
}
.header-logo > img{
  height: 50px;
  width: auto;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  width: 250px;
  margin-left: -125px;
  text-align: center;
  border-radius: 4px; /* Rounded borders */
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  letter-spacing: 0.05em;
  font-family: $text-regular;
  background-color: $color-white;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show{
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.toast-success{
  color: $dark-green;
  border: 1px solid $dark-green;
}

.toast-fail{
  color: $color-red;
  border: 1px solid $color-red;
}
#id_auth_key, #id_auth_key{
  display: none;
}
.input_error{
  background-color:$color-light-red;
}
input::-webkit-input-placeholder { text-transform: capitalize;}
input:-moz-placeholder { text-transform: capitalize; }
input::-moz-placeholder { text-transform: capitalize;}
input:-ms-input-placeholder { text-transform: capitalize; }

.input_error::-webkit-input-placeholder { color: $color-red; }
.input_error:-moz-placeholder { color: $color-red; }
.input_error::-moz-placeholder { color: $color-red; }
.input_error:-ms-input-placeholder { color: $color-red; }
.row-eq-ht {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row-eq-ht > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.h100{
  height: 100%;
}
textarea.form-control {
  height: 100%;
}
.input-group-addon{
  border-radius: 0;
  background-color: $dark-green;
  color: $color-white;
}
.input-group-addon.input {
  padding-left: 10px;
}
.input-group{
  text-align: left;
}
.select2-container--default .select2-selection--multiple {
  background-color: $color-white;
  border: solid $light-green 1px;
  border-radius: 0;
  padding: 6px;
  cursor: text;
  background: asset-url("icon-select.png") no-repeat right !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid $light-green 1px;
  outline: 0;
  background: asset-url("icon-select.png") no-repeat right !important;
  padding: 6px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: $dark-green;
  border: solid $light-green 1px;
  color: $color-white ;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 6px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: $color-white;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  font-size: 12px;
}
input.select2-search__field::-webkit-input-placeholder {
  color: #999999;
}

.select2-container--default .select2-selection--single {
  background-color: $color-white;
  border: solid $light-green 1px;
  border-radius: 0;
  height: 43px;
  font-size: 12px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color:$dark-green transparent transparent transparent;
  border-width: 5px 5px 0 5px;
  margin-left: -16px;
  margin-top: 5px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color:$dark-green transparent transparent transparent;
  border-width: 5px 5px 0 5px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: solid $light-green 1px;
  outline: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  text-transform: capitalize;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 6px;
  float: left;
  padding-left: 20.5px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $dark-green;
  color: $color-white;
}
.reviews{
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 10px;
}

.label-custom{
  background-color: $dark-green;
  font-size: 12px;
  margin-top: 8px;
  display: inline-block;
}
.fa-star, .fa-star-o, .fa-star-half-o{
  margin-right: 4px;
}

.custom-modal-content {
  position: relative;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-header {
  border-bottom: none;
  text-align: center;
  color: $color-white;
}
.pac-container{
  z-index: 2000;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .7;
}
.custom-btn-group{
  display: inline-flex;
  width: 100%;
}
#phantom_file_upload{
  display: none;
}
.payment_img{
  width: 360px;
  padding: 50px;
}
.not-active {
  pointer-events: none;
  cursor: default;
}
.align-middle{
  vertical-align: middle !important;
}
.payment-info{
  display: none;
}
.mL20{
  margin-left: 20px;
}
.hamburger{
  color: $color-white;
  font-size: 18px;
}
.msg_layout{
  text-align: center;
  background: $color-white;
  padding: 70px;
}
.msg_btn{
  width: 30%;
}
.msg_img{
  color: $dark-green;
}
.msg_text{
  font-size: 24px;
  margin: 10px;
}
.div-hide{
  display: none;
}

// CSS loader

.load-bar {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #1a745f;
  display:none;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: $color-very-light-grey;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: $light-green;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #1a745f;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
  from {left: 50%; width: 0;z-index:100;}
  33.3333% {left: 0; width: 100%;z-index: 10;}
  to {left: 0; width: 100%;}
}
.footer{
  position : absolute;
  bottom: 10px;
  left: 45%;
}