<div id="location_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content custom-modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= I18n.t 'location_header' %></h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <input type="text" id="map_autocomplete" class="form-control custom_input_2 location-input" onFocus="geolocate()" placeholder="<%= I18n.t 'placeholder.plc_loc' %>">
          </div>
          <div class="mT18 custom-btn-group" role="group">
            <button type="button" class="btn btn-white" id="btn-close-modal"><%= I18n.t 'buttons.btn_close' %></button>
            <button type="button" class="btn btn-green" id="btn-add-location"><%= I18n.t 'buttons.btn_submit' %></button>
          </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var autocomplete;

  if(window.google) {
    initAutocomplete();
  } else {
    $.ajax("https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_maps_KEY %>&libraries=places&callback=initAutocomplete", {
      crossDomain: true,
      dataType: 'script',
      error: function (response) {
        show_toast(I18n.errors.e_102, "F");
      }
    });
  }

  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('map_autocomplete')),
        {types: ['geocode']});
  }

  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>