<div class="msg_layout <%= custom_class %>">
  <i class="fa <%= msg_img %> fa-2x msg_img" id="id_msg_img"></i>
  <div class="msg_text text-green" id="id_msg_text">
    <%= msg_text %>
  </div>
  <div class="msg_sub_text">
    <span class="text-mid" id="id_msg_sub_txt_1"><%= msg_sub_txt_1 %></span><br/>
    <span class="text-mid" id="id_msg_sub_txt_2"><%= msg_sub_txt_2 %></span>
  </div>
  <% if msg_btn_link.present? %>
    <a href="<%= msg_btn_link %>" id="id_msg_btn_link">
      <input type="button" class="btn btn-green msg_btn mT30" value="<%= msg_btn_txt %>" id="id_msg_btn_txt">
    </a>
  <% end %>
</div>