<% get_secondary_info %>
<div class="panel-box nav-panel-box">
  <% if(@current_user['permission'] == APP_CONFIG['user_type']['student']) %>
      <div class="user-profile">
        <div class="user-profile-img"></div>
        <h4 class="user-name"><%= @current_user['name'] %></h4>
        <h5>Studies in <%= @current_user_info["standard"] %></h5>
        <p class="text-small max-lines-2 text-capitalize"><%= @current_user_info["location"] %></p>
      </div>
      <div id="nav_student">
        <ul class="nav-vertical">
          <li><a href="#">Discover</a></li>
          <li><a href="#">My Sessions</a></li>
          <li><a href="#">Tests</a></li>
          <li><a href="/secondary_info">Profile</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </div>
  <% elsif(@current_user['permission'] == APP_CONFIG['user_type']['teacher']) %>
      <div class="user-profile">
        <div class="user-profile-img"></div>
        <h4 class="user-name"><%= @current_user['name'] %></h4>
        <h5><%= @current_user_info["qualif"] %> , <%= @current_user_info["exp"] %> years</h5>
        <p class="text-small max-lines-2"><%= @current_user_info["bio"] %></p>
      </div>
      <div id="nav_teacher">
        <ul class="nav-vertical">
          <li><a href="/dashboard"><%= I18n.t 'course'%></a></li>
          <li><a href="#">Tests</a></li>
          <li><a href="/secondary_info">Profile</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </div>
  <%end %>
</div>