<div class="top-bar">
  <%= image_tag("elites_white.png" ,:class => "") %><span class="logo-text"><%= I18n.t 'logo-text' %></span>
  <div class="static-nav">
    <div>
      <a href="/">About</a>
    </div>
    <div>
      <a href="/contact_us">Contact</a>
    </div>
    <div>
      <a href="/login">Login</a>
    </div>
  </div>
</div>