<div class="top-bar top-inside-bar">
  <a href="/dashboard">
    <i class="fa fa-home hamburger" aria-hidden="true"></i>
  </a>
  <span class="logo-text" style="margin-left: 40%;"><%= I18n.t 'logo-text' %></span>
  <div class="static-nav">
    <div>
      <a href="#" id="btn-logout">Logout</a>
    </div>
  </div>
</div>
<div class="load-bar">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>
