<!DOCTYPE html>
<html>
  <head>
    <title>Elites</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= yield %>
    <div id="snackbar">Some text some message..</div>
    <input type="file" name="img_uploader" id="phantom_file_upload" data-url="" data-img-holder="">

    <div class="text-small mT16 text-center footer">
      <a href="/privacy_policy" style="text-decoration: underline;">Privacy and Pricing Policy</a>
    </div>
  </body>
  <script type="text/javascript">
    window.I18n = <%= translations_js.to_json.html_safe %>;
    window.elite_js = new EliteJS.mother_js();
    window.elite_js.init();
  </script>

</html>
